body{
    margin: 0;
    text-align: center;
    background-color:burlywood;
}
.cases{
    background-color: rgba(252, 7, 199, 0.637);
}

.run{
    background-color: rgba(255, 0, 0, 0.678);

       
}